* {
    font-family: "Times New Roman", sans-serif;
    
    color: #420;
    background-color: #fffffc;
}
body {
    margin-right: auto;
    margin-left: auto;
    max-width: 50em;
}
h1 {
    text-align: center;
}
h2 {
    border-bottom: 1px solid #ccc;
}
a {
    color: #a40;
}
a:visited {
    color: #a80;
}
a:hover {
    color: #c40;
}
blockquote {
    border-left: 2px solid #ccc;
    padding-left: 0.5em;
}
.imagens > * {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
