.circlewrap {
    position: relative;
    display: inline-block;
}

.circlemid {
    position: relative;
    width: 100px;
    height: 100px;
    display: inline-block;
    overflow: hidden;
}

.circle {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background: #24c;
    position: absolute;
}

.reveal section img {
    border: none;
    box-shadow: none;
}
