<head>
	<meta charset="UTF-8">
    <title>IPCC</title>
	<style>
		body {
			background-color: beige;
			color: saddlebrown;
		}
		
		.letra {
			max-width: 50em;
			font-size: 12pt;
		}
		
		.letra th {
			width: 50%;
		}
		
		.letra td {
			vertical-align: top;
			padding-top: 1em;
		}
	</style>
</head>
<body>
	<h1>Material para Coral do Aniver de 35 Anos</h1>
	
	<h3>我們成為一家人 - Somos Membros de um só Lar</h3>
	
	<table>
		<tr>
			<td>
				<audio controls src="我們成為一家人.mp3"></audio>
			</td>
			<td>
				[<a href="我們成為一家人.mp3" download target="_blank">download</a>]
			</td>
		</tr>
	</table>
	
	<br/>
	
	<table class="letra">
		<tr>
			<th>
				<p><b>中文</b></p>
			</th>
			<th>
				<p><b>Português</b></p>
			</th>
		</tr>
		<tr>
			<td>
				<p>
					我們成為一家人，<br/>
					Wǒmen chéngwéi yījiā rén,<br/>
					因著耶穌，因著耶穌，成為神兒女<br/>
					yīnzhe yēsū, yīnzhe yēsū, chéngwéi shén er nǚ<br/>
					我們成為一家人，<br/>
					wǒmen chéngwéi yījiā rén,<br/>
					因著耶穌，因著耶穌，成為神國的子民<br/>
					yīnzhe yēsū, yīnzhe yēsū, chéngwéi shén guó de zi mín
				</p>
			</td>
			<td>
				<p>
					Somos membros de um só lar<br/>
					porque Cristo, porque Cristo nos resgatou<br/>
					Somos membros de um só lar<br/>
					porque Cristo, porque Cristo nos fez Reino do Senhor
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					1.<br/>
					因著耶穌得潔淨，因著耶穌入光明<br/>
					Yīnzhe yēsū dé jiéjìng, yīnzhe yēsū rù guāngmíng<br/>
					因著耶穌同享復活的生命<br/>
					yīnzhe yēsū tóng xiǎng fùhuó de shēngmìng<br/>
					同享生命的喜悅，同在主愛中連結<br/>
					tóng xiǎng shēngmìng de xǐyuè, tóng zài zhǔ ài zhōng liánjié<br/>
					因著耶穌同受豐盛的產業<br/>
					yīnzhe yēsū tóng shòu fēngshèng de chǎnyè
				</p>
			</td>
			<td>
				<p>
					1.<br/>
					Juntos, salvos pela cruz, caminhando na Sua luz<br/>
					Temos vida ressurreta em Jesus<br/>
					Alegria pra viver e em Seu amor crescer<br/>
					Em Jesus, preciosa herança a receber
				</p>
			</td>
		</tr>
		<tr>
			<td>
				<p>
					2.<br/>
					因著耶穌同敬拜，因著耶穌蒙慈愛<br/>
					Yīnzhe yēsū tóng jìng bài, yīnzhe yēsū méng cí'ài<br/>
					因著耶穌彼此恩慈來相待<br/>
					yīnzhe yēsū bǐcǐ ēncí lái xiāng dài<br/>
					或在喜樂中歡唱，或遇苦難同哀傷<br/>
					huò zài xǐlè zhōng huān chàng, huò yù kǔnàn tóng āishāng<br/>
					因著耶穌同渡人生的風浪<br/>
					yīnzhe yēsū tóng dù rénshēng de fēnglàng
				</p>
			</td>
			<td>
				<p>
					2.<br/>
					Juntos vamos adorar, uns aos outros nos amar<br/>
					Pra Seu grande amor ao mundo revelar<br/>
					Na alegria a cantar, na tristeza a chorar<br/>
					Em Jesus, as tempestades enfrentar
				</p>
			</td>
		</tr>
	</table>
</body>
